* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(95, 138, 95);
}

.banner {
    background-image: url("../images/john-towner-89PFnHKg8HE-unsplash.jpg");
    background-size: cover;
    height: 175px;
    width: 100%;
    margin: 0;


}

header {
    padding-left: 10px;
    background-color: rgb(27, 36, 27);
    color: #fff;
    font-style: oblique;
    border-bottom: 3px solid rgb(131, 95, 49);
}

header h1 {
    display: inline-block;
    font-size: 40px;
    position: sticky;

}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #fff;
    text-decoration: none;
}

h3 {
    font-size: 30px;
    color: #fff;
    padding: 20px;
    text-align: right;
    border-right: 5px solid #fff;
}

p {
    letter-spacing: 4px;
    line-height: 1.275rem;
    margin-left: 10px;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}




.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 30%;
    margin-top: 20px;
}

.column-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 70%;
    margin: 20px 40px 40px;
    /* margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px; */

}


.name {
    font-size: 48px;
    color: rgb(231, 171, 91);
}

.content {
    max-width: 100%;
    padding: 10px;
}

.contact {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    margin-top: 20px;

}

.contact li {
    display: inline;
    border-bottom: 3px solid #fff;


}

.rotate {
    transform: rotate(90deg);
}



@media screen and (min-width: 800px) {
    .column {
        flex: 1
    }

    .column-2 {
        flex: 3
    }
}