:root {
    --background-color: rgb(95, 138, 95);
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: --background-color;
}

.banner {
    background-image: url("../images/john-towner-89PFnHKg8HE-unsplash.jpg");
    background-size: cover;
    height: 175px;
    width: 100%;
    margin: 0;
}

.name {
    font-size: 48px;
    color: rgb(231, 171, 91);
}

header {
    padding-left: 10px;
    background-color: rgb(27, 36, 27);
    color: #fff;
    font-style: oblique;
    border-bottom: 3px solid rgb(131, 95, 49);
}

header h1 {
    display: inline-block;
    font-size: 40px;
    position: sticky;

}


.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    padding-right: 40px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #fff;
    text-decoration: none;
}

h3 {
    font-size: 30px;
    color: #fff;
    padding: 20px;
    text-align: right;
    border-right: 5px solid #fff;
}

p {
    letter-spacing: 4px;
    line-height: 1.275rem;
    margin-left: 10px;

}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    background-color: var(--background-color);
    padding: 20px;
}

section {
    flex: 3;
    background-color: var(--background-color);
    padding: 20px;
}

.sample-img {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
}

.contact {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    margin-top: 20px;

}

.contact li {
    display: inline;
    border-bottom: 3px solid #fff;


}

footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

@media screen and (max-width: 768px) {

    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
        flex-direction: column;
    }

    /* Make the sidebar stack below the body */
    aside {
        order: 1;
    }

    /* Change the header background */
    header {
        background: #772014;
    }

    /* Change the navbar and footer background */
    nav,
    footer {
        background-color: #bb8588;
    }
}