/* Things to address:
1.Contact verticle margin
2.Avatar
3.images
*/

:root {
    --background-color: rgb(95, 138, 95);
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* animation for smooth content scrolling */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: --background-color;
}

.banner {
    background-image: url("../images/john-towner-89PFnHKg8HE-unsplash.jpg");
    background-size: cover;
    height: 175px;
    width: 100%;
    margin: 0;
}

.name {
    font-size: 48px;
    color: rgb(231, 171, 91);
}

header {
    padding-left: 10px;
    background-color: rgb(27, 36, 27);
    color: #fff;
    font-style: oblique;
    border-bottom: 3px solid rgb(131, 95, 49);
}

header h1 {
    display: inline-block;
    font-size: 40px;
    position: sticky;

}


.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    padding-right: 40px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #fff;
    text-decoration: none;
}

h2 {
    font-size: 30px;
    color: #fff;
    padding: 20px;
    text-align: right;
    line-height: 1em;
    
    /* border-right: 5px solid #fff; */
}

p {
    letter-spacing: 4px;
    line-height: 1.275rem;
    margin-left: 10px;

}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    background-color: var(--background-color);
    padding: 20px;
}

section {
    flex: 3;
    background-color: var(--background-color);
    padding: 20px;
    
    
}


.uName {
    left: 100px;
}

.bg-box {
    position: absolute;
    background: var(--background-color);
    height: 60px;  
    width: 38%;
    left: 0px;
    top: 35px;
    border: 2px solid rgb(231, 171, 91);
    border-left-color: transparent;
    border-radius: 0px 50px 50px 0px;
    
}

.avatar {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 10px 10px;
    border: 3px solid rgb(231, 171, 91);
    top: 15px;
}

.sample-img-main {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
}

.sample-img {
    background-color: #fff;
    width: 50%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
}

.contact {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    

}

.contact li {
    display: inline;
    border-bottom: 3px solid #fff;


}





.vline {
    display: flex;
    justify-content: flex-end;
}

.horizontal {
    flex-direction: column;
}

hr {
    min-height: 100%;
    max-height: 100vh;
    margin: 0;
    border: 2px solid #fff;
    border-radius: 10px;;
}

footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

@media screen and (max-width: 768px) {

    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
        flex-direction: column;
    }

    /* Make the sidebar stack below the body */
    aside {
        order: 1;
    }

    /* Change the header background */
    header {
        background: #772014;
    }

    /* Change the navbar and footer background */
    nav,
    footer {
        background-color: #bb8588;
    }
}