/* Things to address:
1.Contact verticle margin
2.Avatar
3.images
*/

:root {
    --background-color: rgb(95, 138, 95);
    --special-text-color: rgb(231, 171, 91);
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* animation for smooth content scrolling */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: --background-color;
}

.banner {
    background-image: url("../images/john-towner-89PFnHKg8HE-unsplash.jpg");
    background-size: cover;
    height: 175px;
    width: 100%;
    margin: 0;
    border-bottom: 3px solid rgb(131, 95, 49);
    z-index: -1;
}

.name {
    font-size: 48px;
    color: rgb(231, 171, 91);
}

.wrapper {
    display: flex;

}
header {
    display: flex;
    flex: 50%;
    padding-left: 10px;
    background-color: rgb(27, 36, 27);
    color: #fff;
    font-style: oblique;
    border-bottom: 3px solid rgb(131, 95, 49);
}

header h1 {
    font-size: 40px;
    position: sticky;
    text-shadow: 0 0 3px rgb(231, 171, 91);
}

.navbar {
   display:flex;
   flex: 50;
   background-color: rgb(27, 36, 27);
   border-bottom: 3px solid rgb(131, 95, 49);
}

  
  /* Style the navigation bar links */
  .navbar a {
    display:flex;
    color: white;
    justify-content: space-around;
    padding: 40px;
    text-decoration: none;
    text-align: end;
    font-size: 24px;
    font-style: oblique;
    
  }
  
  /* Change color on hover */
  .navbar a:hover {
    transition: 0.2s;
    transform: scale(1.2);
    color:var(--special-text-color);
    text-shadow:
      3px 3px 0 var(#fff),
      -1px -1px 0 var(#fff),
      1px -1px 0 var(#fff),
      -1px 1px 0 var(#fff),
      1px 1px 0 var(#fff);
  }

a {
    color: #fff;
    text-decoration: none;
}

h2 {
    font-size: 30px;
    color: #fff;
    padding: 20px;
    text-align: right;
    line-height: 1em;
    font-style: oblique;
    text-shadow: 0 0 3px rgb(231, 171, 91);

    /* border-right: 5px solid #fff; */
}

p {
    letter-spacing: 4px;
    line-height: 1.275rem;
    margin-left: 10px;

}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    background-color: var(--background-color);
    padding: 20px;
}

section {
    flex: 3;
    background-color: var(--background-color);
    padding: 20px;


}


.uName {
    left: 100px;
}

.bg-box {
    position: absolute;
    background: var(--background-color);
    height: 60px;
    width: 510px;
    left: 0px;
    top: 35px;
    border: 2px solid rgb(231, 171, 91);
    border-left-color: transparent;
    border-bottom-color: 1px #fff;
    border-radius: 0px 50px 50px 0px;

}

.welcome {
    position: absolute;
    background: var(--background-color);
    height: 60px;
    width: 300px;
    right: 0px;
    top: 160px;
    border: 2px solid rgb(231, 171, 91);
    border-right-color: transparent;
    border-bottom-color: 1px #fff;
    border-radius: 50px 0px 0px 50px;
    z-index: 1;

}

.hi {
    display: inline-block;
    position: absolute;
    right: 100px;
    top: -30px;
    z-index: 2;
    font-style: oblique;
    text-shadow: 0 0 3px rgb(231, 171, 91);
}

.avatar {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 10px 10px;
    border: 3px solid rgb(231, 171, 91);
    top: 15px;
}

/* .sample-img-main {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
}

.sample-img {
    background-color: #fff;
    width: 50%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
} */



.contact {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;


}

.contact li {
    display: inline;
    border-bottom: 3px solid #fff;


}

.vline {
    display: flex;
    justify-content: flex-end;
}

.horizontal {
    flex-direction: column;
}

hr {
    min-height: 100%;
    max-height: 100vh;
    margin: 0;
    border: 2px solid #fff;
    border-radius: 10px;
    text-shadow: 0 0 3px rgb(231, 171, 91);
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
    max-height: 50%;
}

.column-2 {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    flex: 0 1 calc(50% - 2*10px);
}

.column img {
    margin: 10px 0;
    vertical-align: middle;
}


@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* .img {
    height: 320px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.box-1 {
    width: 100%;
    height: 320px;
    margin: 10px;
    background-color: blue;
    flex: 0 1 calc(100% - 2*10px);
    flex-shrink: 3;
}

.box {
    width: 50%;
    height: 320px;
    margin: 10px;
    background-color: blue;
    flex: 0 1 calc(50% - 2*10px);
    
} */

footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

@media screen and (max-width: 768px) {

    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
        flex-direction: column;
    }

    /* Make the sidebar stack below the body */
    aside {
        order: 2;
    }

    p {
order: 1;
    }

    
    header {
        order: 1;
    }

    /* Change the navbar and footer background */
    nav {
        background-color: #bb8588;
    }

}